<style>
html {margin: 0; width:100%; height:100%: padding:0px;}
body {margin: 0; width:100%; height:100%: padding:0px;}

.articlemain {position: absolute; justify-content: center;margin: 0; padding:0; background-color: #ECEDE9; color: #00293d; transition-duration: 0.4s; width:100%;height:100%;}

.article {position: relative; align-content: center; margin: 0% 15% 0% 15%; font-size: 180%; line-height: 48px; opacity: 0%; animation: FadeIn 1s forwards;}

@keyframes FadeIn {
0%{opacity: 0%; transform: translate(0px, +40px);}
20% {opacity: 0%; transform: translate(0px, +12px);}
100% {opacity: 100%; transform: translate(0px);} }

/* DarkMode Button */
.DarkModeButton {
position: fixed; top: 0%; right: 0%; width: 30px; height: 30px;z-index: 5;
margin: 5px; border: solid #00293d; border-radius: 100%; background-color: #ECEDE9;
opacity: 100%; transition-duration: 0.4s;}

.DarkModeButton:hover {border-radius: 0%; opacity: 100%; border-color: #33ccff;}

.DarkModeButton:checked {background-color: black; opacity: 0%;}
input[type=checkbox] {position: fixed; visibility: none;}

/* Actions */
input[type=checkbox]:checked ~ .DarkModeButton{background-color: #00293d; border-radius: 0%; border-color: #33ccff; opacity: 100%}
input[type=checkbox]:checked ~ .articlemain{background-color: #00293d; color: #ECEDE9}
</style>